<ul class="list-unstyled">
  <% dolists.each do |dolist| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(dolist.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to dolist.user.name, user_path(dolist.user) %> <span class="text-muted">posted at <%= dolist.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= dolist.content %></p>
        </div>
        <div>
          <% if current_user == dolist.user %>
            <%= link_to "Delete", dolist, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate dolists %>
</ul>